* {
	margin:0;
	padding: 0;
}
section {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

}
.section-1 {
   width: 100vw;
   height: 100vh;	
  background-image: url('../asset/img/bg11.jpg');

}
.section-2 {
	width: 100vw;
   height: 100vh;
  background-image: url('../asset/img/bg12.jpg');

}
.section-3 {
	width: 100vw;
   height: 100vh;
  background-image: url('../asset/img/bg3.jpg');
}
.title{
	font-size: 6vmin;
	margin-left: 27vw;
	position: absolute;
	margin-top: 30vh;
}
.desc{
	font-size:3vmin;
	text-align: center;
	margin-left: 22vw;
	position: absolute;
	margin-top: 60vh;
}
.sub-title{
	font-size: 6vmin;
	margin-left: 18vw;
	margin-top: 27vh;
	position: absolute;
}
.sub-desc{
	margin-left: 10vw;
	position: absolute;
	margin-top: 43vh;
	font-size: 3vmin;
	width: 70vh;
}
.hotel{
	width: 36vmin;
	height: 36vmin;
	position: absolute;
	margin-left: 66vw;
	margin-top: 30vh;
	overflow: hidden;
}
.logopic{
	width: 10vw;
	height: 10vh;
	position: absolute;
	margin-top: 45vh;
	margin-left:47vw;
}
.points{
	position: absolute;
	margin-top: 15vh;
	margin-left: 60vw;
}
.listtype{
	list-style: none;
}
