*{
	margin:0;
	padding:0;
}
#navbar{
	width: 100vw;
	font-size: 3vmin;
	color:#0c0f59;
	position: absolute;
	margin-top: 1vh;
	margin-left: 3vh;

}
/*.logopic{
	margin-left: 3vh;
	margin-top: 1vh;
	position: absolute;
	width: 9vw;
	height: 6vh;
}*/